// 576px
#ui-id-7-button {
    display: none;
  }
  header .home {
    transition: width .2s;
    width: 60px;
  }
  .listings > ul > li {
    width: 45%;
    margin: .5em;
  }
  /* line 1286, style.scss */
  .listings > ul > li:nth-child(4n) {
    margin: .5em;
  }
  /* line 1292, style.scss */
  .listings .images img {
    width: 100%;
    height: 100%;
  }

  /* line 1298, style.scss */
  .filter_toggle {
    left: 68px;
    right: 0;
  }
  .admin_nav_toggle {
    display:block;
    width:30px;
    height:30px;
    text-align: center;
    line-height:30px;
    color:white;
    background:$green;
    position:absolute;
    top:22px;
    left:70px;
    text-decoration:none;
    transition:.1s;
    &:hover {
      background:darken($green, 20%);
      transition:.1s;
    }
    i {
      display:block;
      width:100%;
      height:100%;
      line-height:30px;
    }
  }
  .admin_nav {
    > ul {
      display:none;
      text-align:left;
      background:$green;
      z-index:9990;
      position:absolute!important;
      height:auto!important;
      li {
        display:block!important;
        height:auto!important;
        float:none;
        width:100%;
        &:hover {
          ul {
            display:block!important;
            position:relative;
            text-align:left;
            z-index:9999;
          }
        }
      }
    }
  }