// iphone
.listings > ul > li {
  margin: .5em 0;
  width: 90%;
}
.view_switcher {
  float:none;
  position:relative;
  clear:both;
}
.filter .select2-container--default {
  width:100%!important;
}
.listings > ul > li img {
  width: 100%;
}
.listings > ul > li:nth-child(4n + 1) {
  clear: none;
}
.listings > ul > li:nth-child(4n) {
  margin: .5em 0;
}
.listing_overview .listing_view_controls ul li a {
  font-size: .8em;
}
.listing_details table.listing_ng tr td {
  padding: 3px;
  vertical-align: top;
  font-size: .8em;
}
.listing_details table.listing_ng tr td.listing_ng_label {
  background: #efefef;
}
header {
  .home {
    width: 60px;
  }
  .user_actions {
    button {
      display: inline-block;
      width: 45%;
      margin: 0;
      float: none;
      &:before, &:after {
        color: #333333;
        font-size: 1em!important;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.ui-dialog.noTitle {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
}
.main {
  .content {
    h1 {
      word-wrap:break-word;
    }
  }
}
.gorilla {
  max-height:400px;
  .content {
    h1 {
      line-height:1.2;
      margin-bottom:.5em;
    }
  }
}
body.home {
  margin:0;
  footer {
    display:none;
  }
  .filter_toggle {
    display:none!important;
  }
}
.avatar {
  width:243px;
  margin:0;
  img {
    display:none;
  }
  .avatar_actions {
    width:195px;
    float:right;
    margin:0;
    a {
      font-size:.5em;
    }
  }
}
.half.left, .half.right {
  float:none;
  width:100%;
  margin-bottom:1em;
}
.admin_nav_toggle {
  display:block!important;
  z-index:9999!important;
  position:absolute;
  right:1em;
  left:auto;
  top:80px;
}
.admin {
  .showing {
    float:none;
    text-align:left;
    display:block;
    width:100%;
    margin-bottom:1em;
  }
}
article.property {
  ul.controls {
    text-align:center;
    li {
      width:80%;
      display:block;
      margin:.25em auto;
      a {
        display:block;
        width:100%;
      }
    }
  }
  .overview {
    table {
      tr {
        td {
          width:50%;
          padding:5px;
          font-size:0.9em;
          span.fa {
            margin-right:3px;
          }
        }
      }
    }
  }
  ul.stats {
    height:180px;
    li {
      height:90px;
      width:33.33333%;
      border-left:none;
      font-size:2.5em!important;
      &:nth-child(2), 
      &:nth-child(3), 
      &:nth-child(5), 
      &:nth-child(6) {
        border-left:1px solid darken($brown, 10%);
      } 
      span {
        font-size:.2em!important;
      }
    }
  }
}
footer {
  .main {
    .content.full {
      nav {
        ul {
          li {
            width:100%;
          }
          > li {
            width:100%;
            > ul {
              li {}
            }
          }
        }
      }
    }
  }
  .social, .help {
    ul {
      li.right {
        float:none;
      }
    }
  }
}