@import url(https://fonts.googleapis.com/css?family=Khula:400,800);
.admin_nav {
  height: 48px;
  width: 100%;
  background: #74B164;
  overflow: visible; 
  > ul {
    width: 995px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
    vertical-align: top;
    list-style: none; 
    li {
      height: 100%;
      line-height: 48px;
      position: relative;
      padding: 0 10px;
      display: inline-block; 
      ul {
        visibility: hidden;
        position: absolute;
        background: #333333;
        left: 0;
        list-style: none;
        padding: 0;
        z-index: 9999;
        top: 100%; 
        li {
          display: block;
          max-width: 100%;
          float: none;
          white-space: nowrap; 
          a {
            padding: 0; 
          }
          &:hover {
            background: #4d4d4d; 
          }
        }
      }
      &:before {
        left: 0px;
        float: left;
        color: white;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        margin-right: 10px;
        width: auto;
        top: 0px; 
      }
      a {
        display: inline-block;
        height: 100%;
        color: white;
        text-decoration: none;
        font-family: "open_sans_regular", sans-serif; 
      }
      &:hover {
        background: #333333; 
        ul {
          visibility: visible; 
        }
      }
    }
  }
}

.admin .heading {
  width: 100%;
  border-bottom: 1px solid #4A4A4A; }
  .admin .heading h1 {
    float: left;
    display: inline-block; }
.admin .showing {
  float: right; }
  .admin .showing a {
    display: inline-block;
    padding: 5px 10px;
    background: #7A694B;
    border-radius: 8px;
    font-size: .8em;
    text-decoration: none;
    color: white; }
    .admin .showing a span {
      display: inline-block;
      padding: 2px;
      background: #9a845e; }

.content.rentals {
  background: #ececec;
  padding: 0; }
  .content.rentals > section {
    background: white;
    float: left;
    width: 659px;
    position: relative; }
  .content.rentals > aside {
    width: 336px;
    position: relative;
    float: right; }

section.my_properties {
  padding: 20px 20px 20px 0; }

article.property {
  margin-top: 1em; }
  article.property > h1 {
    display: inline-block;
    font-family: "open_sans_extrabold", sans-serif;
    letter-spacing: -1px;
    float: left;
    font-weight: 800;
    font-size: 1.25em; }
    article.property > h1 span {
      font-weight: 400;
      font-size: .7em;
      display: inline-block;
      margin-left: 10px; }
  article.property > nav {
    float: right;
    margin-top: 8px; }
    article.property > nav ul {
      text-align: right; }
    article.property > nav li {
      list-style: none;
      display: inline-block; }
      article.property > nav li a {
        display: inline-block;
        color: white;
        background: #74B164;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 8px; }
        article.property > nav li a:hover {
          cursor:pointer;
          background: #4A4A4A; }
      article.property > nav li .off {
        background: #9e0f0f; }
  article.property .overview {
    background: #f1ece2;
    clear: both;
    border: 1px solid #7A694B; }
    article.property .overview table {
      background: none;
      font-size: 1em;
      margin: 20px 20px 0 20px; }
      article.property .overview table td {
        padding: 0 20px 0 0;
        border-top: none;
        vertical-align: top; }
        article.property .overview table td span.fa {
          margin-right: 10px;
          width: 16px;
          text-align: center;
          display: inline-block; }
        article.property .overview table td:last-child {
          font-family: "open_sans_extrabold", sans-serif;
          font-weight: 700; }
    article.property .overview .photos {
      float: right;
      margin: 20px 20px 20px 0;
      position: relative;
      width: 200px; }
      article.property .overview .photos img {
        width: 100%;
        height: auto; }
      article.property .overview .photos > span {
        position: absolute;
        z-index: 9989;
        width: 100%;
        line-height: 37px;
        bottom: 0;
        left: 0;
        height: 37px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        color: white; }
  article.property .controls {
    float: left;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 20px; }
    article.property .controls li {
      color: white;
      float: left;
      margin-right: 5px; }
      article.property .controls li:before {
        margin-right: 0px; }
    article.property .controls a {
      background: #74B164;
      border-radius: 8px;
      font-family: "open_sans_regular", sans-serif;
      width: 123px;
      height: 37px;
      line-height: 37px;
      text-align: center;
      padding: 0;
      color: white;
      text-decoration: none;
      display: inline-block; }
      article.property .controls a:hover {
        background: #4A4A4A; }
      article.property .controls a .fa {
        margin-right: 10px;
        display: inline-block; }
    article.property .controls a.delete:hover {
      background: #9e0f0f; }
  article.property .stats {
    clear: both;
    height: 90px;
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 1em; }
    article.property .stats li {
      background: #7A694B;
      border-left: 1px solid white;
      height: 100%;
      float: left;
      color: #f1ece2;
      position: relative;
      font-family: "Khula", sans-serif;
      font-size: 2.5em;
      font-weight: 800;
      text-align: center;
      width: 16.666667%; }
      article.property .stats li:first-child {
        border-left: none; }
      article.property .stats li:last-child {
        float: right; }
      article.property .stats li:hover {
        background: #4A4A4A;
        cursor: default; }
      article.property .stats li span.label {
        font-size: 0.25em;
        line-height: 30px;
        background: #333333;
        font-weight: 400;
        font-family: "open_sans_regular", sans-serif;
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 30px;
        bottom: 0;
        left: 0; }

aside.my_properties {
  padding: 20px; }
  aside.my_properties .widget {
    border: 1px solid #4A4A4A;
    background: white;
    padding: 10px; }
    aside.my_properties .widget table {
      width: 100%;
      color: #4A4A4A;
      background: white;
      border-spacing: 0; }
      aside.my_properties .widget table th {
        background: #74B164;
        text-align: left;
        font-size: 1.25em;
        font-family: "open_sans_extrabold", sans-serif;
        font-weight: 700;
        color: white; }
        aside.my_properties .widget table th a {
          float: right;
          font-size: .7em;
          color: white;
          text-decoration: underline; }
      aside.my_properties .widget table tr td {
        border-top: none; }
      aside.my_properties .widget table tr:nth-child(even) {
        background: #e3efe0; }
  aside.my_properties .property-add {
    width: 100%;
    height: 120px;
    /*line-height: 38px;*/
    display: block;
    position:relative;
    text-align: center;
    color: white;
    padding:60px 10px 10px 10px;
    text-decoration: none;
    background: #74B164;
    border-radius: 8px; }
    .property-add i {
      font-size:4em;
      top:10px;
      position:absolute;
      width:100px;
      text-align:center;
      left:50%;
      margin-left:-50px;
      transition:.1s;
    }
    .property-add:hover i {
      font-size:4.5em!important;
      transition:.1s;
    }
  aside.my_properties .fa-question-circle {
    margin-right: 10px; }
  aside.my_properties .fa-star {
    color: gold;
    text-shadow: 0 0 5px dimGray; }
