/* Open Sans */
	/* Bold */
	@font-face {
	    font-family: 'open_sansbold';
	    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
	    src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg'),
	    	 url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
	         url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}
	/* Bold Italic */
	@font-face {
	    font-family: 'open_sansbold_italic';
	    src: url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot');
	    src: url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.svg#open_sansbold') format('svg'),
	    	 url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff') format('woff'),
	         url('../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}
	/* Italic */
	@font-face {
	    font-family: 'open_sans_italic';
	    src: url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot');
	    src: url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.svg#open_sans_italic') format('svg'),
	    	 url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.woff') format('woff'),
	         url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}
	/* Regular */
	@font-face {
	    font-family: 'open_sans_regular';
	    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
	    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg') format('svg'),
	    	 url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
	         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}
	#rental-list a {
		z-index:9995!important;
	}
	.listings .images {
		z-index:1!important;
	}